h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.btn-circle {
  width: 23px !important;
  height: 23px !important;
  padding: 3px 0px !important;
  border-radius: 15px !important;
  text-align: center !important;
  font-size: 12px !important;
  line-height: 1.42857 !important;
}

.shad{
  padding: 20px !important;
  border-radius: 10px !important;
  box-shadow: 2px 2px 10px grey;
  /* border: 1px solid grey !important; */
}
